* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --white-primary: #f8f9fa;
  --white-secondary: #e5e5e5;
  --grey-primary: #495057;
  --black-primary: #212529;
  --dark-blue: #212529;
}

.top-container {
  background-image: url(./src/images/header-background.png);
  background-size: cover;
  width: 100%;
  height: 600px;
}

.top-container-content,
.articles-part {
  padding: 36px 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo,
.footer-logo {
  color: var(--white-primary);
  font-weight: bold;
  font-size: 18px;
}

.menu-list,
.footer-links {
  display: flex;
  gap: 25px;
  list-style-type: none;
  font-size: 12px;
}

.menu-list a,
i {
  text-decoration: none;
  color: var(--white-primary);
}

.menu-list i {
  padding-left: 25px;
  border-left: solid 1px var(--white-primary);
}

.top-content {
  margin-top: 260px;
  display: flex;
  flex-direction: column;
}

.date,
.top-description {
  color: var(--white-secondary);
  margin-bottom: 15px;
  width: 500px;
}

.top-title {
  color: var(--white-primary);
  margin-bottom: 15px;
  width: 600px;
}

.articles-functions {
  margin-top: 64px;
  margin-bottom: 44px;
  display: flex;
  justify-content: space-between;
  color: var(--grey-primary);
  font-size: 12px;
}

.views {
  display: flex;
  gap: 20px;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.article-block {
  width: 390px;
  height: 500px;
}

.article-design {
  background-size: cover;
  height: 250px;
  margin-bottom: 30px;
  position: relative;
}

.article-date,
.article-description,
.article-author {
  color: var(--grey-primary);
  font-size: 12px;
}

.article-date,
.article-description,
.article-title {
  padding-bottom: 15px;
}

.article-title {
  color: var(--black-primary);
}

.article-description {
  border-bottom: solid 1px var(--white-secondary);
}

.article-author {
  margin-top: 15px;
}

.tag {
  background-color: rgba(33, 37, 41, 0.33);
  height: 25px;
  width: 64px;
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-content {
  color: var(--white-primary);
  font-size: 8px;
  font-weight: bold;
}

.button-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 178px;
  height: 40px;
  background-color: var(--dark-blue);
  color: var(--white-primary);
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 12px;
  border-radius: 4px;
}

.featured-part {
  margin-top: 64px;
}

.featured-container {
  display: flex;
}

.features-left-block {
  padding: 100px 138px 0 100px;
  background-color: var(--dark-blue);
}

.featured-title {
  color: var(--white-primary);
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 60px;
}

.featured-item {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
  width: 498px;
}

.item-content {
  width: 187px;
}

.item-date,
.item-description {
  color: var(--white-secondary);
  font-size: 12px;
  margin-bottom: 15px;
}

.item-title {
  color: var(--white-primary);
  size: 16px;
  margin-bottom: 15px;
}

.featured-right-block {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.featured-image-title {
  font-size: 25px;
  font-weight: bold;
  color: var(--white-primary);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
  padding: 40px 100px;
  margin-top: 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: solid 1px rgba(229, 229, 229, 028);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  color: var(--white-secondary);
  font-size: 12px;
}

.footer-links {
  color: var(--white-secondary);
  font-size: 12px;
}
